<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393877957553-g20lpoqg227510uqubkjpigin5hspmas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393877957553-g20lpoqg227510uqubkjpigin5hspmas</string>
	<key>API_KEY</key>
	<string>AIzaSyC8opkRG9KrD_H91n15j9pwYErMRJijF1s</string>
	<key>GCM_SENDER_ID</key>
	<string>393877957553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tora.studyApp</string>
	<key>PROJECT_ID</key>
	<string>studyappandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>studyappandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393877957553:ios:41a6324d0b5d79578deb90</string>
</dict>
</plist>